body{
    background-color: black;
}

.Main {
    background-color: black;
    height: 1024px;
    width:30%;
    margin-left: 50px;
    float: left;
    box-sizing: border-box;
    border-right: solid 10px white;
}

.canvas {
    width: 100px;
    margin-left: -1000px;
    float: right;
    box-sizing: border-box;
    border-left: solid 10px white;
}

.title {
    margin-left: 15%;
    padding-top: 8%;
    color: white;
    font-size: 45px;
  }

.secondSentence{
    color: white;
    margin:10px;
    margin-left: 0px;
    font-size: 28px; 
}

.thirdSentence{
    font-size: 18px; 
    margin: 10px;
    margin-left: 0px;
    color: greenyellow;
}

.contents{
    color: white;
    font-size: 27px;
    margin-left: 15%;
    margin-top: 35px;
    line-height: 1.5;
}

.member{
    color:white;
    font-size: 18px;
    margin-left:15%;
    margin-top: 100px;
}