html,
body {
    overflow: hidden;
    margin: 0;
}

.Main {
    background-color: black;
    width: 50%;
    height: 50%;
    float: left;
}

#gl-canvas {
    width: 50%;
    position: absolute;
}

.title {
    margin-left: 15%;
    padding-top: 8%;
    color: white;
    font-size: 45px;
}

.secondSentence {
    color: white;
    margin: 10px;
    margin-left: 0px;
    font-size: 28px;
}

.thirdSentence {
    font-size: 18px;
    margin: 10px;
    margin-left: 0px;
    color: greenyellow;
}

.contents {
    color: white;
    font-size: 27px;
    margin-left: 15%;
    margin-top: 35px;
    margin-bottom: 80px;
    line-height: 1.5;
}

.member {
    color: white;
    font-size: 18px;
    margin-left: 15%;
    margin-bottom: 120px;
}

#land:hover {
    color: burlywood;
}

#era:hover {
    color: #bfe3dd;
}

#climate:hover{
    color: #AED6F1;
}